// main header of the static website
.head {
  height: 100vh;

  // main content of the head
  &__main {
    background-image: linear-gradient(45deg,rgba(#476892, .9),rgba(#59355D, .9)),
      url("../img/banner.jpg");
    background-size: cover;
    background-position: bottom;
    height: calc(100vh - 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--foreground-light);
    box-shadow: 0 0.6rem 0.6rem rgba(0, 0, 0, 0.2);
  }

  // sub content of the head
  &__sub {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    // bottom aligned arrow svg
    svg {
      width: 1.5rem;
      height: 1.5rem;
      opacity: 0.8;
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

// main divider that wraps the entire UI
.divider-main {
  display: flex;
}

// the content of the dashboard
.body-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

// title bar in the dashboard
.title-bar {
  display: flex;
  align-items: center;
  padding: 2rem;
  padding-left: 2.5rem;
  background-color: #f4f9fd;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.2);

  &__title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin-right: 1rem;
    font-weight: 600;
  }

  & > .fas {
    margin-right: auto;
    opacity: 0.8;
  }
}
