.mb-mini {
  margin-bottom: 0.5rem !important;
}
.mb-normal {
  margin-bottom: 2.5rem !important;
}
.mb-large {
  margin-bottom: 4rem !important;
}
.mt-normal {
  margin-top: 2.5rem !important;
}
.mt-large {
  margin-top: 4rem !important;
}
.padded-normal {
  padding: 2rem !important;
}
.shadowDepth1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
