<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Institute Assistant &mdash; ITP</title>
  <!-- icon library -->
  <link rel="stylesheet" href="libs/font-awesome/all.css">
  <!-- semantic ui -->
  <link rel="stylesheet" href="libs/semantic/semantic.css">
  <!-- semantic icons -->
  <link rel="stylesheet" href="libs/semantic/icon.css">
  <!-- local font -->
  <link rel="stylesheet" href="fonts/stylesheet.css">
  <!-- main stylesheet -->
  <link rel="stylesheet" href="css/main.css">
</head>

<body>

  <!-- main sidebar of the dashboard -->
  <div class="divider-main">
    <div class="side"></div>
    <!-- sidebar start -->
    <ul class="sidebar">
      <li class="sidebar__item">
        <a href="manage.html" class="sidebar__link">
          <i class="fas fa-home"></i>
          Home
        </a>
      </li>
      <li class="sidebar__item">
        <a href="students.html" class="sidebar__link">
          <i class="fas fa-graduation-cap"></i>
          Student
        </a>
      </li>
      <li class="sidebar__item">
        <a href="employees.html" class="sidebar__link">
          <i class="fas fa-user"></i>
          Staff
        </a>
      </li>
      <li class="sidebar__item">
        <a href="courses.html" class="sidebar__link">
          <i class="fas fa-book"></i>
          Courses
        </a>
      </li>
      <li class="sidebar__item">
        <a href="events.html" class="sidebar__link">
          <i class="fas fa-beer"></i>
          Events
        </a>
      </li>
      <li class="sidebar__item active">
        <a href="library.html" class="sidebar__link">
          <i class="fas fa-book-open"></i>
          Library
        </a>
      </li>
      <li class="sidebar__item">
        <a href="qna.html" class="sidebar__link">
          <i class="fas fa-tag"></i>
          Q&A
        </a>
      </li>
      <li class="sidebar__item">
        <a href="finance.html" class="sidebar__link">
          <i class="fas fa-money-bill-alt"></i>
          Finance
        </a>
      </li>
    </ul>
    <!-- sidebar end -->
    <!-- page content start -->
    <div class="body-content">
      <!-- title bar start -->
      <div class="title-bar mb-normal">
        <div class="title-bar__title">brand</div>
        <i class="fas fa-search"></i>
        <a class="ui image label" href="index.html">
          <img src="img/avatars/avatar1.png"> Dinal
        </a>
      </div>
      <!-- title bar end -->
      <!-- container start -->
      <div class="wrapper">
        <!-- breadcrumb start -->
        <div class="ui big breadcrumb">
          <a class="section">Home</a>
          <i class="right chevron icon divider"></i>
          <a class="section">Library</a>
          <i class="right chevron icon divider"></i>
          <div class="active section">Add Books</div>
        </div>
        <!-- breadcrumb end -->
        <h1 class="heading-secondary" id="ttt">Add Book</h1>
        <p class="mb-normal">
          Westworld ipsum dolor sit amet consectetur, adipisicing elit. Repellat numquam quod, ut debitis quidem vel, dolorem dolorum
          praesentium soluta vitae delectus, facere eligendi quae? Assumenda.
        </p>
        <!-- form start -->
        <form class="ui form">
          <div class="field">
            <label>ISBN</label>
            <input name="isbn" autofocus required type="text">
            <p>Ignore this field if the ISBN number cannot be identified.</p>
          </div>
          <div class="field required">
            <label>Title</label>
            <input name="title" required type="text">
            <p>Please enter the exact book title printed on the physical copy of the book, which may prevent many inconvenients
              later.
            </p>
          </div>
          <div class="field required">
            <label>Comment</label>
            <input name="last-name" required type="text">
          </div>
          <div class="field required">
            <label>Author</label>
            <input name="first-name" required type="text">
            <p>If the author already exists in the system, please select that one instead of adding a new author.</p>
          </div>
          <div class="field required">
            <label>Published By</label>
            <input name="last-name" required type="text">
          </div>
          <div class="field required">
            <div class="ui checkbox">
              <input tabindex="0" class="hidden" type="checkbox">
              <label>I agree to the Terms and Conditions</label>
            </div>
          </div>
          <br>
          <button class="ui button" type="submit">Submit</button>
        </form>
        <!-- form end -->
      </div>
      <!-- container end -->
    </div>
    <!-- page content end -->
  </div>

  <!-- semantic ui js -->
  <script src="libs/semantic/semantic.js"></script>

</body>

</html>