.mb-normal {
  margin-bottom: 2.5rem !important;
}
.mb-large {
  margin-bottom: 4rem !important;
}
.mt-normal {
  margin-top: 2.5rem !important;
}
.mt-large {
  margin-top: 4rem !important;
}
.padded-normal {
  padding: 2rem !important;
}
