<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Institute Assistant &mdash; ITP</title>
  <!-- icon library -->
  <link rel="stylesheet" href="libs/font-awesome/all.css">
  <!-- semantic ui -->
  <link rel="stylesheet" href="libs/semantic/semantic.css">
  <!-- semantic icons -->
  <link rel="stylesheet" href="libs/semantic/icon.css">
  <!-- local font -->
  <link rel="stylesheet" href="fonts/stylesheet.css">
  <!-- main stylesheet -->
  <link rel="stylesheet" href="css/main.css">
</head>

<body>

  <!-- main sidebar of the dashboard -->
  <div class="divider-main">
    <div class="side"></div>
    <ul class="sidebar">
      <li class="sidebar__item active">
        <a href="manage.html" class="sidebar__link">
          <i class="fas fa-home"></i>
          Home
        </a>
      </li>
      <li class="sidebar__item">
        <a href="students.html" class="sidebar__link">
          <i class="fas fa-graduation-cap"></i>
          Student
        </a>
      </li>
      <li class="sidebar__item">
        <a href="employees.html" class="sidebar__link">
          <i class="fas fa-user"></i>
          Staff
        </a>
      </li>
      <li class="sidebar__item">
        <a href="courses.html" class="sidebar__link">
          <i class="fas fa-book"></i>
          Courses
        </a>
      </li>
      <li class="sidebar__item">
        <a href="events.html" class="sidebar__link">
          <i class="fas fa-beer"></i>
          Events
        </a>
      </li>
      <li class="sidebar__item">
        <a href="library.html" class="sidebar__link">
          <i class="fas fa-book-open"></i>
          Library
        </a>
      </li>
      <li class="sidebar__item">
        <a href="qna.html" class="sidebar__link">
          <i class="fas fa-tag"></i>
          Q&A
        </a>
      </li>
      <li class="sidebar__item">
        <a href="finance.html" class="sidebar__link">
          <i class="fas fa-money-bill-alt"></i>
          Finance
        </a>
      </li>
    </ul>
    <!-- sidebar end -->
    <!-- page content start -->
    <div class="body-content">
      <div class="title-bar mb-normal">
        <div class="title-bar__title">brand</div>
        <i class="fas fa-search"></i>
        <a class="ui image label" href="index.html">
          <img src="img/avatars/avatar1.png"> Mayura
        </a>
      </div>
      <!-- container start -->
      <div class="wrapper">
        {{{body}}}
      </div>
      <!-- container end -->
    </div>
    <!-- page content end -->
  </div>

  <!-- semantic ui js -->
  <script src="libs/semantic/semantic.js"></script>
  <!-- chart js -->
  <script src="libs/chartjs/Chart.js"></script>
  <!-- custome js file for charts -->
  <script src="js/manage.js"></script>

</body>

</html>